<form (ngSubmit)="onSubmit()" #heroForm="ngForm">

  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id"
            required
            [(ngModel)]="temp.id" name="id"
            #name="ngModel">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="temp.name" name="name"
            #name="ngModel">
  </div>

  <button type="submit" class="btn btn-default" (click)="addHabit(heroForm)">Add Habit</button>
</form>