<!-- Using *ngFor to triverse all habits in habit list and display in cards from bootstrap -->
<!-- bind the property name through interpolation : {{habit.name}}-->
<div class="card-columns m-1">
  <div class="card" *ngFor="let habit of habits">
    <div class="card-header">
      <span class="badge badge-dark">
        <i class="material-icons">{{habit.icon}}</i>
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{habit.name}}</h5>
      <p class="card-text">{{habit.description}}</p>
      <a routerLink="/detail/{{habit.name}}" class="btn btn-sm btn-secondary">Edit Reminder</a>
    </div>
  </div>
</div>
    