<!-- <div class="jumbotron" *ngFor="let habit of habits">
  <div class="container">
    <i class="material-icons">{{habit.icon}}</i>

    <a routerLink="/detail/{{habit.name}}">
      <span>{{habit.name}}</span>
    </a>

    <p>{{habit.description}}</p>

  </div>
</div> -->

    
<!-- <ul class="list-group m-2" *ngFor="let habit of habits">
  <li class="list-group-item list-group-item-action" 
      routerLink="/detail/{{habit.name}}">

      <h5 class="mb-2 h5">
        <i class="material-icons">{{habit.icon}}</i>
        {{habit.name}}
      </h5>
      <small>{{habit.description}}</small>
      
  </li>
</ul> -->

<div class="card m-2" *ngFor="let habit of habits">
  <div class="card-header">
    <span class="badge badge-dark">
      <i class="material-icons">{{habit.icon}}</i>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{habit.name}}</h5>
    <p class="card-text">{{habit.description}}</p>
    <a routerLink="/detail/{{habit.name}}" class="btn btn-sm btn-secondary">Edit Reminder</a>
  </div>
</div>
    