<!-- Define router link to all a tags on the nav bar. -->

<!-- Difference between [routerLink] and routerLink -->
<!-- https://stackoverflow.com/questions/41370760/difference-between-routerlink-and-routerlink -->
<!-- [routerLink]="routerLinkVariable" : could be defined inside class-->
<!-- routerLink="constantString" : hard-coded -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">My Reminder</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/habit-create">Add Reminder</a>
    </li>
  </ul>  
</nav>
